Package: com.donato.kw
Name: KelvinInWeather
Version: 1.0
Architecture: iphoneos-arm
Description: Set temperature unit to Kelvin in the weather app.
Maintainer: Donato Fiore
Author: Donato Fiore
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
